<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- RSS Autodiscovery -->
        <link rel="alternate" type="application/rss+xml" title="edipotrebol RSS" href="/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/new.css">
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">

    </head>
    <body>

      <div id="container">
        <div id="layout" role="main" class="pure-g-r">
            <header class="banner clearfix">
                <div class="sidebar pure-u">
                    <header class="header pure-u-1">
                        <hgroup>
                            <a href="/"><h1 id="digital-name" class="brand-title">e3bol</h1></a>
                            <h2 class="brand-tagline">I sell prime numbers</h2>
                        </hgroup>

                        <nav class="nav">
                            <ul class="nav-list">
                                <li class="nav-item">
                                    <a class="pure-button" href="/">Blog</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="pure-button" href="about.html">About</a>
                                </li> -->
                                <li id="nav-me" class="nav-item">
                                    <a class="pure-button" href="/me.html">Me</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                </div>
            </header>

            {{ content }}

        </div>

    </div>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        // $('#nav-me').click(function() {
        //     $('#digital-name').addClass('animated fadeOutLeftBig');
        //     $('#analog-name').addClass('animated fadeInRightBig');
        // });
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26993833-1']);
      _gaq.push(['_setDomainName', 'edipotrebol.es']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "db120ba0-c17f-4bbc-b5dc-59262936ad64", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  </body>
</html>
