---
layout: default
---
<div class="content pure-u-1"> 
  <div class="post-icon"><a href=".."><i class="icon-chevron-left"></i></a></div>
  <section class="post pure-u-1">
     <header class="post-header">
          <!--<img class="post-avatar"
               alt="Eric Ferraiuolo's avatar" src="/img/common/ericf-avatar.png"
               height="48" width="48">-->
          <h2 class="post-title pure-u-1">{{ page.title }}</h2>
          <p class="post-meta pure-u-1">
                {% if page.categories %}
                {% for tag in page.categories %}
                    <a class="post-category" href="">{{ tag }}</a>
                {% endfor %}
              {% endif %}
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date_to_string }}
              </time>
          </p>
      </header>
      <div class="post-description pure-u-1">
          <p>
            {{ content }}
          </p>
          <div class="sharethis">
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_googleplus_hcount' displayText='Google +'></span>
            <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
            <span class='st_delicious_hcount' displayText='Delicious'></span>
            <span class='st_email_hcount' displayText='Email'></span>
          </div>
          <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'edipotrebol'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
  </section>
</div>